/* ============================================ *
 * Headings
 * ============================================ */

=heading-two()
    @extend .display-4
    @extend .mb-5
    @extend .font-weight-bold

    &:last-child
        @extend .mb-0

=paragraph()
    font-size: 1.13rem

    &:last-child
        @extend .mb-0

/* ============================================ *
 * Backgrounds
 * ============================================ */

=background-size($background-size)
    -webkit-background-size: $background-size
    -moz-background-size: $background-size
    -o-background-size: $background-size
    background-size: $background-size
