/* ============================================ *
 * Headings
 * ============================================ */

=heading-two()
    font-size: 3rem
    margin-bottom: 40px
    font-weight: bold

    &:last-child
        margin-bottom: 0

=paragraph()
    color: #687074
    font-size: 1.2rem

    &:last-child
        margin-bottom: 0

/* ============================================ *
 * Backgrounds
 * ============================================ */

=background-size($background-size)
    -webkit-background-size: $background-size
    -moz-background-size: $background-size
    -o-background-size: $background-size
    background-size: $background-size
