/* ============================================ *
 * Start Styling the Footer Section
 * ============================================ */

footer
    .footer-content
        padding: 70px 0
        
        +media-breakpoint-up(md)
            padding: 120px 0 70px

        .footer-about
            .footer-logo
                span
                    &:first-child
                        color: $primaryColor

                    &:last-child
                        color: $secondaryColor

            .footer-about-content
                +paragraph()

            .footer-about-more
                color: $primaryColor

        .footer-links-wrapper
            h3
                color: $primaryColor
                
                +media-breakpoint-up(md)
                    margin-bottom: 70px !important

            .footer-links
                a
                    flex-basis: 50%
                    color: $primaryColor

        .footer-contact
            h3
                color: $primaryColor
                
                +media-breakpoint-up(md)
                    margin-bottom: 70px !important
                
            a
                color: $primaryColor