/* ============================================ *
 * Start Styling the Header Section
 * ============================================ */

.upper-bar
    background-color: $primaryColor
    color: #929fa5
    padding: 10px
    font-size: .8rem

    .upper-bar-info
        span
            margin-right: 10px

        i
            margin-right: 5px
            color: $whiteColor

        a
          color: $whiteColor

    .upper-bar-quote
        a
            color: #929fa5
            border: 1px solid $secondaryColor
            padding: 5px 20px
            display: inline-block
            margin-left: 70px
            transition: all .3s ease-in-out

            &:hover
                background-color: $secondaryColor
                color: $whiteColor
