/* ============================================ *
 * Start Styling the Navigation Section
 * ============================================ */

.navbar
    .navbar-brand
        span
            &:first-child
                color: $primaryColor
                
            &:last-child
                color: $secondaryColor

    .navbar-nav
        .nav-item
            &.active
                .nav-link
                    color: $secondaryColor
                    
            .nav-link
                color: $primaryColor
                transition: color .3s ease-in-out
                    
                &:hover
                    color: $secondaryColor